{
  "presets": [
    [
      "@babel/env", {
        "targets": {
          "firefox": "74",
          "chrome": "79",
          "safari": "11.1",
          "opera": "66",
          "edge": "79",
          "ie": "11"
        }
      }
    ]
  ]
}