.configuration
  padding-top: 32px
  padding-bottom: 32px

  @media (min-width: $min-width--tablet)
    padding-top: 52px
    padding-top: 60px

  @media (min-width: $min-width--desktop)
    padding-top: 5px
    padding-bottom: 80px

.configuration__inner
  container()

.configuration__heading
  margin-bottom: 32px

  @media (min-width: $min-width--tablet)
    margin-bottom: 40px

  @media (min-width: $min-width--desktop)
    margin-bottom: 62px


.configuration__group
  padding-top: 30px

  @media (min-width: $min-width--tablet)
    padding-top: 45px

  @media (min-width: $min-width--desktop)
    padding-top: 65px

.configuration__group-title
  margin: 0
  margin-bottom: 18px

  font-weight: 400
  font-size: $font-size--s

  @media (min-width: $min-width--tablet)
    margin-bottom: 24px

    font-size: $font-size--l

  @media (min-width: $min-width--desktop)
    margin-bottom: 30px

.configuration__loader,
.configuration__message
  margin: 100px auto;
  text-align: center
