@import "global/normalize";
@import "global/fonts";
@import "global/variables";
@import "global/mixins";
@import "global/base";
@import "../blocks/visually-hidden/visually-hidden";
@import "../blocks/heading/heading";
@import "../blocks/button/button";
@import "../blocks/logo/logo";
@import "../blocks/icon-link/icon-link";
@import "../blocks/message/message";
@import "../blocks/range/range";
@import "../blocks/checkbox/checkbox";
@import "../blocks/form/form";
@import "../blocks/server/server";
@import "../blocks/header/header";
@import "../blocks/footer/footer";
@import "../blocks/banner/banner";
@import "../blocks/configuration/configuration";
