mixin head(title)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    <meta name="format-detection" content="telephone=no">
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    <meta name="description" content="Тестовое задание Selectel">
    link(rel="preload" href="fonts/gotham-pro--400.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/gotham-pro--500.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/gotham-pro--700.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.css" media="screen")
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
  block
