// colors
$black = #000000
$white = #ffffff

$gray = #c8c8c8
$gray--light = #e5e5e5

$navy-blue--light = #8391b2
$navy-blue = #29435d

$blue--dark = #0971f5
$blue = #2f93fe
$blue--light = #71b6ff
$blue--lighten = #b3d8ff

// color pallete
$background-color--primary = $white
$background-color--accent = $blue

$text-color--primary = $navy-blue
$text-color--secondary = $navy-blue--light
$text-color--additional = $white
$text-color--accent = $blue

// fonts
$font-family--primary = "Gotham Pro", "Arial", sans-serif
$font-family--secondary = "Museo Sans", "Arial", sans-serif

$font-size--xxl = 32px
$font-size--xl = 26px
$font-size--l = 18px
$font-size--m = 16px
$font-size--s = 14px
$font-size--xs = 12px
$font-size--xxs = 10px

$line-height = 1.2em

$letter-spacing = 0.0025em
$letter-spacing--large = 0.0275em

// breakpoints
$min-width--mobile = 320px

$min-width--tablet = 768px
$min-width--desktop = 1200px
$max-width--desktop = 1440px

// retina
$retina-dpi = 144dpi
$retina-dppx = 1.5dppx
