.heading
  margin: 0

  font($font-family--primary, 700, $font-size--l, $line-height, $letter-spacing)
  color: $text-color--primary
  text-align: center

  @media (min-width: $min-width--tablet)
    font-size: $font-size--xl

  @media (min-width: $min-width--desktop)
    font-size: $font-size--xxl
